// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

 /dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/phy/jlsemi-dt-phy.h>
#include "rk3566.dtsi"
#include "rk3566-lubancat.dtsi"

/ {
	model = "EmbedFire LubanCat RK3566 CM4";
	compatible = "embedfire,rk3566-lubancat-cm4", "rockchip,rk3566";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		restart-key {
			label = "restart";
			linux,code = <KEY_RESTART>;
			press-threshold-microvolt = <9>;
		};
	};


	leds: leds {
		status = "okay";
		compatible = "gpio-leds";

		sys_status_led: sys-status-led {
			label = "sys_status_led";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&sys_status_led_pin>;
		};
	};

	dc_5v: dc-5v {
		compatible = "regulator-fixed";
		regulator-name = "dc_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_5v>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	// sdio_pwrseq: sdio-pwrseq {
	//     compatible = "mmc-pwrseq-simple";
	//     clocks = <&rk809 1>;
	//     clock-names = "ext_clock";
	//     pinctrl-names = "default";
	//     pinctrl-0 = <&wifi_enable_h>;
	//     post-power-on-delay-ms = <200>;
	//     reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	// };

	// wireless_wlan: wireless-wlan {
	//     compatible = "wlan-platdata";
	//     rockchip,grf = <&grf>;
	//     //wifi_chip_type = "ap6398s";
	//     wifi_chip_type = "ap6256";

	//     status = "okay";
	// };

	// wireless_bluetooth: wireless-bluetooth {
	//     compatible = "bluetooth-platdata";
	//     clocks = <&rk809 1>;
	//     clock-names = "ext_clock";
	//     //wifi-bt-power-toggle;
	//     //uart_rts_gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
	//     pinctrl-names = "default", "rts_gpio";
	//     pinctrl-0 = <&uart8m0_rtsn>;
	//     pinctrl-1 = <&uart8_gpios>;
	//     //BT,reset_gpio    = <&gpio3 RK_PA0 GPIO_ACTIVE_HIGH>;
	//     //BT,wake_gpio     = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	//     //BT,wake_host_irq = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
	//     status = "okay";
	// };

	// bt_uart1: wireless_bluetooth: wireless-bluetooth {
	// 	compatible = "bluetooth-platdata";
	// 	clocks = <&rk809 1>;
	// 	clock-names = "ext_clock";
	// 	//wifi-bt-power-toggle;
	// 	uart_rts_gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
	// 	pinctrl-names = "default", "rts_gpio";
	// 	pinctrl-0 = <&uart1m0_rtsn>;
	// 	pinctrl-1 = <&uart1_gpios>;
	// 	BT,reset_gpio    = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;	//BT_REG_ON_H
	// 	BT,wake_gpio     = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;	//HOST_WAKE_BT_H
	// 	BT,wake_host_irq = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;	//BT_WAKE_HOST_H
	// 	status = "okay";
	// };
};

// &sdmmc1 {
// 	max-frequency = <150000000>;
// 	supports-sdio;
// 	bus-width = <4>;
// 	disable-wp;
// 	cap-sd-highspeed;
// 	cap-sdio-irq;
// 	keep-power-in-suspend;
// 	mmc-pwrseq = <&sdio_pwrseq>;
// 	non-removable;
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
// 	sd-uhs-sdr104;
// 	status = "okay";
// };

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0m1_pins>;
};

&dmc {
	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       780000
		SYS_STATUS_REBOOT       1056000
		SYS_STATUS_SUSPEND      324000
		SYS_STATUS_VIDEO_1080P  528000
		SYS_STATUS_BOOST        1056000
		SYS_STATUS_ISP          1056000
		SYS_STATUS_PERFORMANCE  1056000
	>;
	center-supply = <&vdd_logic>;
	status = "okay";
};

&dmc_opp_table {
	opp-324000000 {
		opp-hz = /bits/ 64 <324000000>;
		opp-microvolt = <875000>;
		opp-microvolt-L0 = <875000>;
		opp-microvolt-L1 = <850000>;
	};

	opp-528000000 {
		opp-hz = /bits/ 64 <528000000>;
		opp-microvolt = <875000>;
		opp-microvolt-L0 = <875000>;
		opp-microvolt-L1 = <850000>;
	};

	opp-528000000 {
		opp-hz = /bits/ 64 <780000000>;
		opp-microvolt = <875000>;
		opp-microvolt-L0 = <875000>;
		opp-microvolt-L1 = <850000>;
	};

	opp-1056000000 {
		opp-hz = /bits/ 64 <1056000000>;
		opp-microvolt = <900000>;
		opp-microvolt-L0 = <900000>;
		opp-microvolt-L1 = <850000>;
	};
};


&i2s1_8ch {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx
			 &i2s1m0_lrcktx
			 &i2s1m0_sdi0
			 &i2s1m0_sdo0>;
};

&pmu_io_domains {
	status = "okay";
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
};

&sdmmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc_det>;
	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&vop {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
};

&vop_mmu {
	status = "okay";
};

/* USB OTG/USB Host_1 USB 2.0 Comb */
&usb2phy0 {
	status = "okay";
};

&u2phy0_host {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

/* USB Host_2/USB Host_3 USB 2.0 Comb */
&usb2phy1 {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

/* USB3.0 OTG Only USB2.0 */
&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
};

/* USB3.0 Host to USB2.0 only */
&combphy1_usq {
	rockchip,dis-u3otg1-port; /* 配置 dwc3_1 控制器最高支持 high speed */
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&pcie2x1 {
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

&usbhost_dwc3 {
	phys = <&u2phy0_host>; /* 配置 phys 属性只引用 usb 2.0 phy 节点 */
	phy-names = "usb2-phy";
	maximum-speed = "high-speed"; /* 配置 dwc3 控制器最高支持 high speed */
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 100ms, 100ms */
	snps,reset-delays-us = <0 100000 100000>;

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
			 &gmac1m1_tx_bus2_level3
			 &gmac1m1_rx_bus2
			 &gmac1m1_rgmii_clk_level2
			 &gmac1m1_rgmii_bus_level3>;

	tx_delay = <0x16>;
	rx_delay = <0x0a>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		jl2xxx,led-enable = <(JL2XXX_LED_STATIC_OP_EN | JL1XXX_LED_MODE_EN)>;
		jl2xxx,led-mode = <(JL2XXX_LED1_LINK10  | \
				 JL2XXX_LED1_LINK100  | \
				 JL2XXX_LED1_LINK1000 | \
				 JL2XXX_LED2_LINK10   | \
				 JL2XXX_LED2_LINK100  | \
				 JL2XXX_LED2_LINK1000 | \
				 JL2XXX_LED2_ACTIVITY )>;
	};
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi {
	status = "okay";
};

&pinctrl {
	leds {
		sys_status_led_pin: sys-status-led-pin {
			rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		sdmmc_det: sdmmc-det {
			rockchip,pins =
				/* sdmmc0_det */
				<0 RK_PA4 1 &pcfg_pull_down>;
		};
	};
};
