// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 EmbedFire <embedfire@embedfire.com>
 *
 */

/ {
	ext_cam0_37m_clk: external-camera-37m-clock {
		compatible = "fixed-clock";
		clock-frequency = <37125000>;
		clock-output-names = "ext_cam0_37m_clk";
		#clock-cells = <0>;
	};

	ext_cam0_25m_clk: external-camera-25m-clock {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "ext_cam0_25m_clk";
		#clock-cells = <0>;
	};

	ext_cam0_24m_clk: external-camera-24m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam0_24m_clk";
	};

	ext_cam0_27m_clk: external-camera-27m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
		clock-output-names = "ext_cam0_27m_clk";
	};

	vdd_cam0_5v: vdd-cam0-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam0_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	cam0_dovdd: cam0-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam0_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam0_5v>;
	};

	cam0_avdd: cam0-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam0_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam0_5v>;
	};

	cam0_dvdd: cam0-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam0_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam0_5v>;
	};

    ext_cam_37m_clk: external-camera-37m-clock {
		compatible = "fixed-clock";
		clock-frequency = <37125000>;
		clock-output-names = "ext_cam_37m_clk";
		#clock-cells = <0>;
	};

	ext_cam_25m_clk: external-camera-25m-clock {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "ext_cam_25m_clk";
		#clock-cells = <0>;
	};

	ext_cam_24m_clk: external-camera-24m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_24m_clk";
	};

	ext_cam_27m_clk: external-camera-27m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
		clock-output-names = "ext_cam_27m_clk";
	};

	vdd_cam_5v: vdd-cam-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	cam_dovdd: cam-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam_5v>;
	};

	cam_avdd: cam-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam_5v>;
	};

	cam_dvdd: cam-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam_5v>;
	};
};

&csi2_dcphy0 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dcphy0_in_imx415: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_out0>;
				data-lanes = <1 2 3 4>;
			};

			dcphy0_in_ov5647: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov5647_out0>;
				data-lanes = <1 2>;
			};

			dcphy0_in_ov5648: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&ov5648_out0>;
				data-lanes = <1 2>;
			};

			dcphy0_in_ov8858: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&ov8858_out0>;
				data-lanes = <1 2>;
			};

			dcphy0_in_sc530ai: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&sc530ai_out0>;
				data-lanes = <1 2 3 4>;
			};

			dcphy0_in_gc08a8: endpoint@6 {
				reg = <6>;
				remote-endpoint = <&gc08a8_out0>;
				data-lanes = <1 2>;
			};

			dcphy0_in_gc2053: endpoint@7 {
				reg = <7>;
				remote-endpoint = <&gc2053_out0>;
				data-lanes = <1 2>;
			};

			dcphy0_in_gc4653: endpoint@8 {
				reg = <8>;
				remote-endpoint = <&gc4653_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

// CAM 1
&csi2_dphy1 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy1_in_imx415: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_dphy1_out>;
				data-lanes = <1 2>;
			};

			dphy1_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_dphy1_out>;
				data-lanes = <1 2>;
			};

			dphy1_in_gc08a8: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&gc08a8_dphy1_out>;
				data-lanes = <1 2>;
			};

			dphy1_in_gc2053: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&gc2053_dphy1_out>;
				data-lanes = <1 2>;
			};

			dphy1_in_gc4653: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&gc4653_dphy1_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi1_csi2_input>;
			};
		};
	};
};

// CAM 2
&csi2_dphy2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy2_in_imx415: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_dphy2_out>;
				data-lanes = <1 2>;
			};

			dphy2_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_dphy2_out>;
				data-lanes = <1 2>;
			};

			dphy2_in_gc08a8: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&gc08a8_dphy2_out>;
				data-lanes = <1 2>;
			};

			dphy2_in_gc2053: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&gc2053_dphy2_out>;
				data-lanes = <1 2>;
			};

			dphy2_in_gc4653: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&gc4653_dphy2_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy2_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

// CAM 3
&csi2_dphy3 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy3_in_imx415: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_dphy3_out>;
				data-lanes = <1 2>;
			};

			dphy3_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_dphy3_out>;
				data-lanes = <1 2>;
			};

			dphy3_in_gc08a8: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&gc08a8_dphy3_out>;
				data-lanes = <1 2>;
			};

			dphy3_in_gc2053: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&gc2053_dphy3_out>;
				data-lanes = <1 2>;
			};

			dphy3_in_gc4653: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&gc4653_dphy3_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy3_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi3_csi2_input>;
			};
		};
	};
};

// CAM 4
&csi2_dphy4 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy4_in_imx415: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_gc08a8: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&gc08a8_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_gc2053: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&gc2053_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_gc4653: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&gc4653_dphy4_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy4_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi4_csi2_input>;
			};
		};
	};
};

// CAM 0
&i2c3 {
	status = "disabled";
	pinctrl-0 = <&i2c3m0_xfer>;

	dw9714_0: dw9714-0@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	imx415_0: imx415@1a {
		compatible = "sony,imx415";
		status = "disabled";
		reg = <0x1a>;
		clocks = <&ext_cam0_37m_clk>;
		clock-names = "xvclk";
		avdd-supply = <&cam0_avdd>;
		dovdd-supply = <&cam0_dovdd>;
		dvdd-supply = <&cam0_dvdd>;
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		port {
			imx415_out0: endpoint {
				remote-endpoint = <&dcphy0_in_imx415>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	ov5647_0: ov5647-0@36 {
		compatible = "ovti,ov5647";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam0_25m_clk>;
		clock-names = "ext_cam_25m_clk";
		//reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		lens-focus = <&dw9714_0>;

		port {
			ov5647_out0: endpoint {
			remote-endpoint = <&dcphy0_in_ov5647>;
			data-lanes = <1 2>;
			};
		};
	};

	ov5648_0: ov5648-0@36 {
		compatible = "ovti,ov5648";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam0_dovdd>; /* 1.8v */
		avdd-supply = <&cam0_avdd>;  /* 2.8v */
		dvdd-supply = <&cam0_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "THDS11073";
		rockchip,camera-module-lens-name = "Largan-40122a1";
		lens-focus = <&dw9714_0>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov5648_out0: endpoint {
				remote-endpoint = <&dcphy0_in_ov5648>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_0: ov8858-0@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam0_dovdd>; /* 1.8v */
		avdd-supply = <&cam0_avdd>;  /* 2.8v */
		dvdd-supply = <&cam0_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_0>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_out0: endpoint {
				remote-endpoint = <&dcphy0_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	sc530ai_0: sc530ai-0@30 {
		compatible = "smartsens,sc530ai";
		status = "disabled";
		reg = <0x30>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2115-PC1";
		rockchip,camera-module-lens-name = "30IRC-F16";
		rotation = <180>;

		port {
			sc530ai_out0: endpoint {
				remote-endpoint = <&dcphy0_in_sc530ai>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	gc08a8_0: gc08a8-0@31 {
		compatible = "galaxycore,gc08a8";
		status = "disabled";
		reg = <0x31>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam0_dovdd>; /* 1.8v */
		avdd-supply = <&cam0_avdd>;  /* 2.8v */
		dvdd-supply = <&cam0_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc08a8_out0: endpoint {
				remote-endpoint = <&dcphy0_in_gc08a8>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053_0: gc2053-0@37 {
		compatible = "galaxycore,gc2053";
		status = "disabled";
		reg = <0x37>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam0_dovdd>; /* 1.8v */
		avdd-supply = <&cam0_avdd>;  /* 2.8v */
		dvdd-supply = <&cam0_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "SIDA205300461";
		rockchip,camera-module-lens-name = "60IRC-F20";

		port {
			gc2053_out0: endpoint {
				remote-endpoint = <&dcphy0_in_gc2053>;
				data-lanes = <1 2>;
			};
		};
	};

	gc4653_0: gc4653-0@29 {
		compatible = "galaxycore,gc4653";
		status = "disabled";
		reg = <0x29>;
		clocks = <&ext_cam0_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam0_dovdd>; /* 1.8v */
		avdd-supply = <&cam0_avdd>;  /* 2.8v */
		dvdd-supply = <&cam0_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc4653_out0: endpoint {
				remote-endpoint = <&dcphy0_in_gc4653>;
				data-lanes = <1 2>;
			};
		};
	};
};

// CAM 1
&i2c4 {
	status = "disabled";
	pinctrl-0 = <&i2c4m2_xfer>;

	dw9714_1: dw9714-1@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <1>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	dcphy1_imx415: dcphy1-imx415@1a {
		compatible = "sony,imx415";
		status = "disabled";
		reg = <0x1a>;
		clocks = <&ext_cam_37m_clk>;
		clock-names = "xvclk";
		power-domains = <&power RK3576_PD_VI>;
		avdd-supply = <&cam_avdd>;
		dovdd-supply = <&cam_dovdd>;
		dvdd-supply = <&cam_dvdd>;
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		// rockchip,camera-hdr-mode = <0>;
		port {
			imx415_dphy1_out: endpoint {
				remote-endpoint = <&dphy1_in_imx415>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_1: ov8858-1@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_1>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_dphy1_out: endpoint {
				remote-endpoint = <&dphy1_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	gc08a8_1: gc08a8-1@31 {
		compatible = "galaxycore,gc08a8";
		status = "disabled";
		reg = <0x31>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc08a8_dphy1_out: endpoint {
				remote-endpoint = <&dphy1_in_gc08a8>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053_1: gc2053-1@37 {
		compatible = "galaxycore,gc2053";
		status = "disabled";
		reg = <0x37>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "SIDA205300461";
		rockchip,camera-module-lens-name = "60IRC-F20";

		port {
			gc2053_dphy1_out: endpoint {
				remote-endpoint = <&dphy1_in_gc2053>;
				data-lanes = <1 2>;
			};
		};
	};

	gc4653_1: gc4653-1@29 {
		compatible = "galaxycore,gc4653";
		status = "disabled";
		reg = <0x29>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc4653_dphy1_out: endpoint {
				remote-endpoint = <&dphy1_in_gc4653>;
				data-lanes = <1 2>;
			};
		};
	};
};

// CAM 2
&i2c5 {
	status = "disabled";
	pinctrl-0 = <&i2c5m3_xfer>;

	dw9714_2: dw9714-2@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <2>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	dcphy2_imx415: dcphy2-imx415@1a {
		compatible = "sony,imx415";
		status = "disabled";
		reg = <0x1a>;
		clocks = <&ext_cam_37m_clk>;
		clock-names = "xvclk";
		power-domains = <&power RK3576_PD_VI>;
		avdd-supply = <&cam_avdd>;
		dovdd-supply = <&cam_dovdd>;
		dvdd-supply = <&cam_dvdd>;
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		// rockchip,camera-hdr-mode = <0>;
		port {
			imx415_dphy2_out: endpoint {
				remote-endpoint = <&dphy2_in_imx415>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_2: ov8858-2@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_2>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_dphy2_out: endpoint {
				remote-endpoint = <&dphy2_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	gc08a8_2: gc08a8-2@31 {
		compatible = "galaxycore,gc08a8";
		status = "disabled";
		reg = <0x31>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc08a8_dphy2_out: endpoint {
				remote-endpoint = <&dphy2_in_gc08a8>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053_2: gc2053-2@37 {
		compatible = "galaxycore,gc2053";
		status = "disabled";
		reg = <0x37>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "SIDA205300461";
		rockchip,camera-module-lens-name = "60IRC-F20";

		port {
			gc2053_dphy2_out: endpoint {
				remote-endpoint = <&dphy2_in_gc2053>;
				data-lanes = <1 2>;
			};
		};
	};

	gc4653_2: gc4653-2@29 {
		compatible = "galaxycore,gc4653";
		status = "disabled";
		reg = <0x29>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc4653_dphy2_out: endpoint {
				remote-endpoint = <&dphy2_in_gc4653>;
				data-lanes = <1 2>;
			};
		};
	};
};

// CAM 3
&i2c7 {
	status = "disabled";
	pinctrl-0 = <&i2c7m1_xfer>;

	dw9714_3: dw9714-3@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <3>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	dcphy3_imx415: dcphy3-imx415@1a {
		compatible = "sony,imx415";
		status = "disabled";
		reg = <0x1a>;
		clocks = <&ext_cam_37m_clk>;
		clock-names = "xvclk";
		power-domains = <&power RK3576_PD_VI>;
		avdd-supply = <&cam_avdd>;
		dovdd-supply = <&cam_dovdd>;
		dvdd-supply = <&cam_dvdd>;
		reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <3>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		// rockchip,camera-hdr-mode = <0>;
		port {
			imx415_dphy3_out: endpoint {
				remote-endpoint = <&dphy3_in_imx415>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_3: ov8858-3@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <3>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_3>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_dphy3_out: endpoint {
				remote-endpoint = <&dphy3_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	gc08a8_3: gc08a8-3@31 {
		compatible = "galaxycore,gc08a8";
		status = "disabled";
		reg = <0x31>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <3>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc08a8_dphy3_out: endpoint {
				remote-endpoint = <&dphy3_in_gc08a8>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053_3: gc2053-3@37 {
		compatible = "galaxycore,gc2053";
		status = "disabled";
		reg = <0x37>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <3>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "SIDA205300461";
		rockchip,camera-module-lens-name = "60IRC-F20";

		port {
			gc2053_dphy3_out: endpoint {
				remote-endpoint = <&dphy3_in_gc2053>;
				data-lanes = <1 2>;
			};
		};
	};

	gc4653_3: gc4653-3@29 {
		compatible = "galaxycore,gc4653";
		status = "disabled";
		reg = <0x29>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <3>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc4653_dphy3_out: endpoint {
				remote-endpoint = <&dphy3_in_gc4653>;
				data-lanes = <1 2>;
			};
		};
	};
};

// CAM 4
&i2c8 {
	status = "disabled";
	pinctrl-0 = <&i2c8m2_xfer>;

	dw9714_4: dw9714-4@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <4>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	dcphy4_imx415: dcphy4-imx415@1a {
		compatible = "sony,imx415";
		status = "disabled";
		reg = <0x1a>;
		clocks = <&ext_cam_37m_clk>;
		clock-names = "xvclk";
		power-domains = <&power RK3576_PD_VI>;
		avdd-supply = <&cam_avdd>;
		dovdd-supply = <&cam_dovdd>;
		dvdd-supply = <&cam_dvdd>;
		reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <4>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		// NO_HDR:0 HDR_X2:5 HDR_X3:6
		// rockchip,camera-hdr-mode = <0>;
		port {
			imx415_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_imx415>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_4: ov8858-4@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <4>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_4>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	gc08a8_4: gc08a8-4@31 {
		compatible = "galaxycore,gc08a8";
		status = "disabled";
		reg = <0x31>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <4>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc08a8_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_gc08a8>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053_4: gc2053-4@37 {
		compatible = "galaxycore,gc2053";
		status = "disabled";
		reg = <0x37>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <4>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "SIDA205300461";
		rockchip,camera-module-lens-name = "60IRC-F20";

		port {
			gc2053_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_gc2053>;
				data-lanes = <1 2>;
			};
		};
	};

	gc4653_4: gc4653-4@29 {
		compatible = "galaxycore,gc4653";
		status = "disabled";
		reg = <0x29>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <4>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "YT10120";
		rockchip,camera-module-lens-name = "30IRC-4M-F20";

		port {
			gc4653_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_gc4653>;
				data-lanes = <1 2>;
			};
		};
	};
};

// CAM 0
&mipi0_csi2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "disabled";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0>;
		};
	};
};

&rkisp_vir0 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};

&rkisp_vir0_sditf {
	status = "disabled";
};

&rkvpss_vir0 {
	status = "disabled";
};

// CAM 1
&mipi1_csi2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy1_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in1>;
			};
		};
	};
};

// CAM 2
&mipi2_csi2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy2_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

// CAM 3
&mipi3_csi2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi3_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy3_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi3_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in3>;
			};
		};
	};
};

// CAM 4
&mipi4_csi2 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi4_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy4_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi4_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in4>;
			};
		};
	};
};

&rkcif_mipi_lvds1 {
	status = "disabled";

	port {
		cif_mipi_in1: endpoint {
			remote-endpoint = <&mipi1_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds1_sditf {
	status = "disabled";

	port {
		mipi1_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir1>;
		};
	};
};

&rkcif_mipi_lvds2 {
	status = "disabled";

	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "disabled";

	port {
		mipi2_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir2>;
		};
	};
};

&rkcif_mipi_lvds3 {
	status = "disabled";

	port {
		cif_mipi_in3: endpoint {
			remote-endpoint = <&mipi3_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds3_sditf {
	status = "disabled";

	port {
		mipi3_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir3>;
		};
	};
};

&rkcif_mipi_lvds4 {
	status = "disabled";

	port {
		cif_mipi_in4: endpoint {
			remote-endpoint = <&mipi4_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds4_sditf {
	status = "disabled";

	port {
		mipi4_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir4>;
		};
	};
};

&rkisp_vir1 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi1_lvds_sditf>;
		};
	};
};

&rkisp_vir2 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir2: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi2_lvds_sditf>;
		};
	};
};

&rkisp_vir3 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir3: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi3_lvds_sditf>;
		};
	};
};

&rkisp_vir4 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir4: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi4_lvds_sditf>;
		};
	};
};

&rkisp_vir1_sditf {
	status = "disabled";
};

&rkisp_vir2_sditf {
	status = "disabled";
};

&rkisp_vir3_sditf {
	status = "disabled";
};

&rkisp_vir4_sditf {
	status = "disabled";
};

&rkvpss_vir1 {
	status = "disabled";
};

&rkvpss_vir2 {
	status = "disabled";
};

&rkvpss_vir3 {
	status = "disabled";
};

&rkvpss_vir4 {
	status = "disabled";
};

&rkcif {
	status = "disabled";
};

&rkcif_mmu {
	status = "disabled";
};

&rkisp {
	status = "disabled";
};

&rkisp_mmu {
	status = "disabled";
};

&rkvpss {
	status = "disabled";
};

&rkvpss_mmu {
	status = "disabled";
};
