// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (c) 2020 Rockchip Electronics Co., Ltd.
*
*/

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
//#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/phy/jlsemi-dt-phy.h>
#include "rk3566.dtsi"
#include "rk3566-lubancat.dtsi"

//HDMI输出
#include "rk3566-lubancat-hdmi.dtsi"

//MIPI摄像头配置
#include "rk3568-lubancat-csi2-double.dtsi"

//LVDS屏幕配置
//#include "rk3566-lubancat-1h-gm8775c-lvds-800x1280.dtsi"

/ {
	model = "EmbedFire LubanCat-1H";
	compatible = "embedfire,lubancat-1h", "rockchip,rk3566";
	
	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <1800000>;
		
		esc-key {
			linux,code = <KEY_ESC>;
			label = "esc";
			press-threshold-microvolt = <1100000>;
		};
		
		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <600000>;
		};
		
		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <300000>;
		};
		
		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <18000>;
		};
	};
	
	dc_12: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};
	
	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12>;
	};
	
	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12>;
	};
	
	vdd_5v: vdd-5v {
		compatible = "regulator-fixed";
		regulator-name = "vdd_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12>;
	};
	
	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12>;
	};
	
	vcc5v0_usb30_host: vcc5v0-usb30-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_usb30_host_en>;
		regulator-name = "vcc5v0_usb30_host";
		regulator-always-on;
	};
	
	vcc5v0_otg_vbus: vcc5v0-otg-vbus-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_vbus_en>;
		regulator-name = "vcc5v0_otg_vbus";
	};
	
	mini_pcie_3v3: mini-pcie-3v3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "mini_pcie_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vdd_5v>;
	};
	
	mipi_dsi1_power: mipi-dsi1-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_dsi1_pwr_en>;
		regulator-name = "mipi_dsi1_power";
		regulator-always-on;
	};
	
	vdd_cam_5v: vdd-cam0-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam_5v";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_pwr_en>;
		enable-active-high;
		regulator-always-on;
	};
	
	cam_dovdd: cam_dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam_5v>;
	};
	
	cam_avdd: cam_avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam_5v>;
	};
	
	cam_dvdd: cam_dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam_5v>;
	};
	
	vdd_cam1_5v: vdd-cam1-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam1_5v";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam1_pwr_en>;
		enable-active-high;
		regulator-always-on;
	};
	
	cam1_dovdd: cam1-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam1_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam1_5v>;
	};
	
	cam1_avdd: cam1-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam1_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam1_5v>;
	};
	
	cam1_dvdd: cam1-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam1_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam1_5v>;
	};
	
	leds: leds {
		status = "okay";
		compatible = "gpio-leds";
		
		sys_led: sys-led {
			label = "sys_led";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&sys_led_pin>;
		};
		
		blue_led: blue-led {
			label = "blue_led";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio2 RK_PC0 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&blue_led_pin>;
		};
		
		red_led: red-led {
			label = "red_led";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio2 RK_PB7 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&red_led_pin>;
		};
	};
	
	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm11 0 50000 0>;
		cooling-levels = <0 100 150 200 255>;
		rockchip,temp-trips = <
		40000	1
		45000	2
		50000	3
		55000	4
		>;
	};
	
	rk809_sound: rk809-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-rk809";
		hp-det-gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s1_8ch>;
		rockchip,codec = <&rk809_codec>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
	};
	
	backlight0: backlight0 {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm13 0 50000 0>;
		brightness-levels = <
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		88  89  90  91  92  93  94  95
		96  97  98  99 100 101 102 103
		104 105 106 107 108 109 110 111
		112 113 114 115 116 117 118 119
		120 121 122 123 124 125 126 127
		128 129 130 131 132 133 134 135
		136 137 138 139 140 141 142 143
		144 145 146 147 148 149 150 151
		152 153 154 155 156 157 158 159
		160 161 162 163 164 165 166 167
		168 169 170 171 172 173 174 175
		176 177 178 179 180 181 182 183
		184 185 186 187 188 189 190 191
		192 193 194 195 196 197 198 199
		200 201 202 203 204 205 206 207
		208 209 210 211 212 213 214 215
		216 217 218 219 220 221 222 223
		224 225 226 227 228 229 230 231
		232 233 234 235 236 237 238 239
		240 241 242 243 244 245 246 247
		248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};
	
	backlight_lvds_edp: backlight-lvds-edp {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm10 0 50000 0>;
		enable-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
		brightness-levels = <
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		95  95  95  95  95  95  95  95
		88  89  90  91  92  93  94  95
		96  97  98  99 100 101 102 103
		104 105 106 107 108 109 110 111
		112 113 114 115 116 117 118 119
		120 121 122 123 124 125 126 127
		128 129 130 131 132 133 134 135
		136 137 138 139 140 141 142 143
		144 145 146 147 148 149 150 151
		152 153 154 155 156 157 158 159
		160 161 162 163 164 165 166 167
		168 169 170 171 172 173 174 175
		176 177 178 179 180 181 182 183
		184 185 186 187 188 189 190 191
		192 193 194 195 196 197 198 199
		200 201 202 203 204 205 206 207
		208 209 210 211 212 213 214 215
		216 217 218 219 220 221 222 223
		224 225 226 227 228 229 230 231
		232 233 234 235 236 237 238 239
		240 241 242 243 244 245 246 247
		248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};
	
	ext_wifi_32k_clk: external-32k-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext_wifi_32k_clk";
	};
	
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&ext_wifi_32k_clk>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		
		/*
		* On the module itself this is one of these (depending
		* on the actual card populated):
		* - SDIO_RESET_L_WL_REG_ON
		* - PDN (power down when low)
		*/
		reset-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_LOW>;
	};
	
	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "rtl8189es";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&pwm3 {
	status = "okay";
	
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pins>;
	
	ir_key_lubancat{
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
		<0xba   KEY_POWER>,//电源按键
		<0xb8   KEY_MENU>,//菜单按键
		<0xbc   KEY_BACK>,//返回按键
		<0xbb   KEY_HOME>,//home键按键
		<0xea   KEY_PLAY>,//播放按键
		<0xbf   KEY_VOLUMEUP>,//音量加按键
		<0xe6   KEY_VOLUMEDOWN>,//音量键按键
		<0xf6   KEY_FASTFORWARD>,//快进按键
		<0xf8   KEY_FASTREVERSE>,//快退按键
		<0xf2   KEY_BACKSPACE>,//BaskSpace按键
		<0xf3   KEY_1>,//按键1
		<0xe7   KEY_2>,
		<0xa1   KEY_3>,
		<0xf7   KEY_4>,
		<0xe3   KEY_5>,
		<0xa5   KEY_6>,
		<0xbd   KEY_7>,
		<0xad   KEY_8>,
		<0xb5   KEY_9>,
		<0xe9   KEY_0>;//按键0
	};
};

&sdmmc1 {
	max-frequency = <150000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	status = "okay";
};

&i2s1_8ch {
	status = "okay";
	rockchip,trcm-sync-tx-only;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx
	&i2s1m0_lrcktx
	&i2s1m0_sdi0
	&i2s1m0_sdo0>;
};

&pwm10 {
	status = "okay";
};

&pwm11 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm11m1_pins>;
};

&pwm13 {
	status = "okay";
};

&xin32k {
	status = "disabled";
};

&i2c0 {
	status = "okay";
	rk809: pmic@20 {
		rk809_codec: codec {
			pinctrl-names = "default", "spk_gpio";
			pinctrl-0 = <&i2s1m0_mclk>;
			pinctrl-1 = <&spk_ctl_gpio>;
			spk-ctl-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
		
		rk809_rtc:rtc{
			status = "disabled";
		};
	};
	
	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		status = "okay";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		rtc-irq-gpio = <&gpio0 RK_PA6 IRQ_TYPE_EDGE_FALLING>;
	};
};

&dsi1 {
	status = "disabled";
	power-supply = <&mipi_dsi1_power>;
	#address-cells = <1>;
	#size-cells = <0>;
	
	dsi1_panel: panel@0 {
		status = "disabled";
		compatible = "simple-panel-dsi";
		reg = <0x0>;
		backlight = <&backlight0>;
		reset-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
		
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		
		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};

&i2c5 {
	status = "okay";
	clock-frequency = <100000>;
	
	gt911_edp: gt911@5d {
		status = "okay";
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB7 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		irq-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
	};
};

&uart0 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5m1_xfer>;
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m1_xfer>;
};

&uart9 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m1_xfer>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	
	gt911_dsi1: gt911@5d {
		status = "disabled";
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
		irq-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		touchscreen-inverted-x = <1>;
		touchscreen-inverted-y = <1>;
	};
	
	gt928_dsi1: gt928@5d {
		status = "disabled";
		compatible = "goodix,gt928";
		reg = <0x5d>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
		irq-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
	};
	
	rockpi_mcu_1: rockpi-mcu-1@45 {
		compatible = "rockpi_mcu";
		reg = <0x45>;
		status = "disabled";
	};
	
	rockpi_ft5406_1: rockpi_ft5406-1@38 {
		compatible = "rockpi_ft5406";
		reg = <0x38>;
		status = "disabled";
	};
};

//cam0-gpio-setting
&ov8858 {
	pwdn-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
};

&imx415 {
	pwdn-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
};

&gc08a8 {
	pwdn-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
};

&gc2053 {
	pwdn-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
};

&gc4653 {
	pwdn-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
};

//cam1-gpio-setting
&cam1_ov8858 {
	pwdn-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
};

&i2s0_8ch {
	status = "okay";
};

&pmu_io_domains {
	status = "okay";
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
};

&vop {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
};

&vop_mmu {
	status = "okay";
};

/* USB OTG/USB Host_1 USB 2.0 Comb */
&usb2phy0 {
	status = "okay";
};

&u2phy0_host {
	phy-supply = <&vcc5v0_usb30_host>;
	status = "okay";
};

&u2phy0_otg {
	vbus-supply = <&vcc5v0_otg_vbus>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

/* USB Host_2/USB Host_3 USB 2.0 Comb */
&usb2phy1 {
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_usb>;
	status = "okay";
};

&u2phy1_host {
	phy-supply = <&vcc5v0_usb>;
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

/* USB3.0 OTG Only USB2.0 */
&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
};

/* USB3.0 Host */
&combphy1_usq {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";
	
	snps,reset-gpio = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 75ms, 100ms */
	snps,reset-delays-us = <0 75000 100000>;
	
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	assigned-clock-rates = <0>, <125000000>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
	&gmac1m1_tx_bus2
	&gmac1m1_rx_bus2
	&gmac1m1_rgmii_clk
	&gmac1m1_rgmii_bus>;
	
	/* RTL8211F */
	// tx_delay = <0x1c>;
	// rx_delay = <0x0c>;
	
	/* JL2101 */
	tx_delay = <0x22>;
	rx_delay = <0x07>;
	
	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		jl2xxx,led-enable = <(JL2XXX_LED_STATIC_OP_EN | JL1XXX_LED_MODE_EN)>;
		jl2xxx,led-mode = <(JL2XXX_LED1_LINK10  | \
		JL2XXX_LED1_LINK100  | \
		JL2XXX_LED1_LINK1000 | \
		JL2XXX_LED2_LINK10   | \
		JL2XXX_LED2_LINK100  | \
		JL2XXX_LED2_LINK1000 | \
		JL2XXX_LED2_ACTIVITY )>;
	};
};

/* mini pcie */
&pcie2x1 {
	reset-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
	disable-gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&mini_pcie_3v3>;
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
};

&pinctrl {
	
	cam {
		cam_pwr_en: cam_pwr_en {
			rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		cam1_pwr_en: cam1_pwr_en {
			rockchip,pins = <3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	pmic {
		spk_ctl_gpio: spk_ctl_gpio {
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	
	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	usb {
		vcc5v0_usb30_host_en: vcc5v0-usb30-host-en {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		vcc5v0_otg_vbus_en: vcc5v0-otg-vbus-en {
			rockchip,pins = <3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	spi_pins {
		spi3_cs0: spi3-cs0 {
			rockchip,pins = <4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up_drv_level_1>;
		};
		
		spi3_cs1: spi3-cs1 {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up_drv_level_1>;
		};
	};
	
	lcd {
		mipi_dsi1_pwr_en: mipi-dsi1-pwr-en {
			rockchip,pins = <3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		blue_led_pin: blue-led-pin {
			rockchip,pins = <2 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		red_led_pin: red-led-pin {
			rockchip,pins = <2 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};
